.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 80px;
  flex-wrap: wrap;
  background-color: #f5f7fd;
}

ul {
  padding: 0;
}

.meal_card {
  background-color: white;
  box-sizing: border-box;
  width: 48%;
  padding: 8px 16px;
  font-family: Quicksand, sans-serif;
  color: #3caaff;
  border-radius: 16px;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 13px 0px #e0dede;
  margin-bottom: 16px;
  position: relative;
}

.meal_card__count {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -7px;
  top: -7px;
  transition: all 0.1s ease-out;
}

.meal_card__count_closed {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -7px;
  top: -7px;
  transition: all 1s ease-out;
  transform: scale(0);
}
.meal_card__picture {
  width: 130px;
  height: 130px;
  object-fit: contain;
  border-radius: 16px;
  padding-left: 14px;
  padding-right: 8px;
}

.meal_card__descriptions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.meal_card__name {
  font-size: 18px;
  margin-top: 8px;
}
.meal_card__description {
  font-size: 11px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.meal__card__price_add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.meal_card__price {
  font-size: 25px;
}

.meal_card__add {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  justify-content: center;
}

.meal_card__add_icon {
  font-size: 24px;
  margin-bottom: 3px;
}

/* li:nth-child(even) {
  background-color: #fffacd;
} */
