.wrapper {
  position: absolute;
  top: 105%;

  z-index: 200;
  width: 100vw;
  height: 95vh;
  background-color: #fafad3;
  border: 3px solid #3caaff;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  padding: 20px;
  /* transition: all 0.1s ease-out; */

  box-sizing: border-box;
  border-bottom: none;
}
.wrapper::before {
  width: 70px;
  content: "";
  height: 3px;
  background-color: gray;

  display: block;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 10px;
}

/* .wrapper_closed {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  -webkit-transform: translateY(100%) translateX(-50%);
  z-index: 200;

  width: 87vw;
  height: 80vh;
  background-color: #fafad3;
  border: 3px solid #3caaff;

  border-radius: 36px;
  padding: 20px;
  transition: all 0.1s ease-out;
} */

.order__titles {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order__title {
  font-size: 24px;
  font-family: Quicksand, sans-serif;
  color: #3caaff;
  width: 35%;
  margin-right: 10px;
}

.order__border {
  height: 3px;
  width: 100%;
  background-color: #3caaff;
}

.no_meals {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3caaff;
  font-size: 18px;
  font-family: Quicksand, sans-serif;
}

.meal {
  display: flex;
  color: #3caaff;
  font-size: 12px;
  font-family: Quicksand, sans-serif;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.meal__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.meal__icons {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
}

.meal__count {
  font-size: 18px;
}

.meal__icon {
  font-size: 13px;
  border: 1px solid #3caaff;
  border-radius: 20px;
  padding: 6px;
}

.border {
  width: 100%;
  height: 3px;
  border-radius: 16px;
  background-color: #3caaff;
  margin-bottom: 8px;
}

.total {
  font-family: Quicksand, sans-serif;
  color: #3caaff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total__title {
  width: 50%;
  font-size: 12px;
}

.total__amount {
  font-size: 12px;
}
.total__space {
  width: 30%;
}

.tip__wrapper {
  margin-top: 50px;
  color: #3caaff;
  margin-bottom: 20px;
}

.tip__titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Quicksand, sans-serif;
}

.tip__title {
  width: 28%;
}

.tip__border {
  height: 3px;
  background-color: #3caaff;
  border-radius: 16px;
  flex-grow: 1;
}

.tip__options {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip__option {
  width: 20%;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: #3caaff;
  padding: 17px 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.tip__option_selected {
  width: 20%;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  background-color: #3caaff;
  color: #fafad3;
  padding: 17px 0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.final_total {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  font-family: Quicksand, sans-serif;
  color: #3caaff;
  width: 80vw;
  overflow: hidden;
  padding-bottom: 20px;
}

.final_total__titles {
  display: flex;
  align-items: center;
}

.final_total__border {
  height: 3px;
  flex-grow: 1;
  width: 100%;
  background-color: #3caaff;
}

.final_total__title {
  font-size: 24px;

  width: 40%;
}

.final_total__icon {
  margin: 0 8px;
}

.final_total__wrapper {
  margin-top: 10px;
  display: flex;
  margin-bottom: 40px;
}

.final_total__total {
  flex-grow: 1;
  text-align: end;
}

.pay_button {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 0;
  border: 3px solid #3caaff;
  border-radius: 8px;
  margin-bottom: 70px;
}
